<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="iddata" connectionString="metadata=res://*/iddb.csdl|res://*/iddb.ssdl|res://*/iddb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:iddb.database.windows.net,1433;initial catalog=iddata;persist security info=True;user id=alex;password=1q2w3eOP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>